{% extends 'base.html.twig' %}

    {% block header %}
    	{% include "/nav-bar/nav-bar.html.twig" with {'active' : '/'} %}
    {% endblock %}

    {% block main %}
         <main class="main-index container">
            <article class="article-index">
                <h1>MON PORTFOLIO</h1>
                <br />
                <p>Bonjour, je m'appelle Christophe.</p>
                <p>
                    Afin de poursuivre ma formation Concepteur, de développeur d’applications,
                    je suis à la recherche d’une entreprise pour effectuer la prochaine année alternance et obtenir mon diplôme.
                    Je suis méticuleux et passionné par le domaine du développement informatique.
                    Ma capacité d’auto-formation fait de moi quelqu’un de déterminé et je serai
                    ravi de mettre ces compétences au service de ma futur entreprise d’accueil.
                </p>
            </article>
            <article>
                <img class="img-index" src="/assets/img/coding.gif" alt="image coding" />
            </article>
        </main>
    {% endblock %}
    
    {% block footer %}
        {% include "/footer/footer.html.twig" %}
    {% endblock %}  
    
