{% extends 'base.html.twig' %}

    {% block header %}
    	{% include "/nav-bar/nav-bar.html.twig" with {'active' : '/'} %}
    {% endblock %}

    {% block main %}
         <main class="main-index container">
            <article class="article-index">
                <h1>MON PORTFOLIO</h1>
                <br />
                <p>Bonjour, je m'appelle Christophe.</p>
                <p>
                    À la recherche d'une alternance.
                    Autonome de nature, je peux travailler seul ou en groupe, étant également capable de m’adapter à un environnement que je ne connais pas.
                    Je suis quelqu'un de très déterminé même quand je ne comprends pas, je ne lâche pas jusqu'à comprendre.
                    Ce métier me plaît beaucoup, j'aimerais trouver une entreprise susceptible de m'accueillir
                    pour mon évolution dans le domaine du développement d'application web afin de me perfectionner 
                    et obtenir mon diplôme.
                </p>
            </article>
            <article>
                <img class="img-index" src="/assets/img/coding.gif" alt="image coding" />
            </article>
        </main>
    {% endblock %}
    
    {% block footer %}
        {% include "/footer/footer.html.twig" %}
    {% endblock %}  
    
